Point-mass/draft.py
Point-mass/track_coordinates/racetrack-database-master/.gitignore
Point-mass/track_coordinates/racetrack-database-master/LICENSE
Point-mass/track_coordinates/racetrack-database-master/README.md
Point-mass/track_coordinates/racetrack-database-master/racelines/Austin_curvature.png
Point-mass/track_coordinates/racetrack-database-master/racelines/Austin_raceline.png
Point-mass/track_coordinates/racetrack-database-master/racelines/Austin.csv
Point-mass/track_coordinates/racetrack-database-master/racelines/BrandsHatch_curvature.png
Point-mass/track_coordinates/racetrack-database-master/racelines/BrandsHatch_raceline.png
Point-mass/track_coordinates/racetrack-database-master/racelines/BrandsHatch.csv
Point-mass/track_coordinates/racetrack-database-master/racelines/Budapest_curvature.png
Point-mass/track_coordinates/racetrack-database-master/racelines/Budapest_raceline.png
Point-mass/track_coordinates/racetrack-database-master/racelines/Budapest.csv
Point-mass/track_coordinates/racetrack-database-master/racelines/Catalunya_curvature.png
Point-mass/track_coordinates/racetrack-database-master/racelines/Catalunya_raceline.png
Point-mass/track_coordinates/racetrack-database-master/racelines/Catalunya.csv
Point-mass/track_coordinates/racetrack-database-master/racelines/Hockenheim_curvature.png
Point-mass/track_coordinates/racetrack-database-master/racelines/Hockenheim_raceline.png
Point-mass/track_coordinates/racetrack-database-master/racelines/Hockenheim.csv
Point-mass/track_coordinates/racetrack-database-master/racelines/IMS_curvature.png
Point-mass/track_coordinates/racetrack-database-master/racelines/IMS_raceline.png
Point-mass/track_coordinates/racetrack-database-master/racelines/IMS.csv
Point-mass/track_coordinates/racetrack-database-master/racelines/Melbourne_curvature.png
Point-mass/track_coordinates/racetrack-database-master/racelines/Melbourne_raceline.png
Point-mass/track_coordinates/racetrack-database-master/racelines/Melbourne.csv
Point-mass/track_coordinates/racetrack-database-master/racelines/MexicoCity_curvature.png
Point-mass/track_coordinates/racetrack-database-master/racelines/MexicoCity_raceline.png
Point-mass/track_coordinates/racetrack-database-master/racelines/MexicoCity.csv
Point-mass/track_coordinates/racetrack-database-master/racelines/Montreal_curvature.png
Point-mass/track_coordinates/racetrack-database-master/racelines/Montreal_raceline.png
Point-mass/track_coordinates/racetrack-database-master/racelines/Montreal.csv
Point-mass/track_coordinates/racetrack-database-master/racelines/Monza_curvature.png
Point-mass/track_coordinates/racetrack-database-master/racelines/Monza_raceline.png
Point-mass/track_coordinates/racetrack-database-master/racelines/Monza.csv
Point-mass/track_coordinates/racetrack-database-master/racelines/MoscowRaceway_curvature.png
Point-mass/track_coordinates/racetrack-database-master/racelines/MoscowRaceway_raceline.png
Point-mass/track_coordinates/racetrack-database-master/racelines/MoscowRaceway.csv
Point-mass/track_coordinates/racetrack-database-master/racelines/Norisring_curvature.png
Point-mass/track_coordinates/racetrack-database-master/racelines/Norisring_raceline.png
Point-mass/track_coordinates/racetrack-database-master/racelines/Norisring.csv
Point-mass/track_coordinates/racetrack-database-master/racelines/Nuerburgring_curvature.png
Point-mass/track_coordinates/racetrack-database-master/racelines/Nuerburgring_raceline.png
Point-mass/track_coordinates/racetrack-database-master/racelines/Nuerburgring.csv
Point-mass/track_coordinates/racetrack-database-master/racelines/Oschersleben_curvature.png
Point-mass/track_coordinates/racetrack-database-master/racelines/Oschersleben_raceline.png
Point-mass/track_coordinates/racetrack-database-master/racelines/Oschersleben.csv
Point-mass/track_coordinates/racetrack-database-master/racelines/Sakhir_curvature.png
Point-mass/track_coordinates/racetrack-database-master/racelines/Sakhir_raceline.png
Point-mass/track_coordinates/racetrack-database-master/racelines/Sakhir.csv
Point-mass/track_coordinates/racetrack-database-master/racelines/SaoPaulo_curvature.png
Point-mass/track_coordinates/racetrack-database-master/racelines/SaoPaulo_raceline.png
Point-mass/track_coordinates/racetrack-database-master/racelines/SaoPaulo.csv
Point-mass/track_coordinates/racetrack-database-master/racelines/Sepang_curvature.png
Point-mass/track_coordinates/racetrack-database-master/racelines/Sepang_raceline.png
Point-mass/track_coordinates/racetrack-database-master/racelines/Sepang.csv
Point-mass/track_coordinates/racetrack-database-master/racelines/Shanghai_curvature.png
Point-mass/track_coordinates/racetrack-database-master/racelines/Shanghai_raceline.png
Point-mass/track_coordinates/racetrack-database-master/racelines/Shanghai.csv
Point-mass/track_coordinates/racetrack-database-master/racelines/Silverstone_curvature.png
Point-mass/track_coordinates/racetrack-database-master/racelines/Silverstone_raceline.png
Point-mass/track_coordinates/racetrack-database-master/racelines/Silverstone.csv
Point-mass/track_coordinates/racetrack-database-master/racelines/Sochi_curvature.png
Point-mass/track_coordinates/racetrack-database-master/racelines/Sochi_raceline.png
Point-mass/track_coordinates/racetrack-database-master/racelines/Sochi.csv
Point-mass/track_coordinates/racetrack-database-master/racelines/Spa_curvature.png
Point-mass/track_coordinates/racetrack-database-master/racelines/Spa_raceline.png
Point-mass/track_coordinates/racetrack-database-master/racelines/Spa.csv
Point-mass/track_coordinates/racetrack-database-master/racelines/Spielberg_curvature.png
Point-mass/track_coordinates/racetrack-database-master/racelines/Spielberg_raceline.png
Point-mass/track_coordinates/racetrack-database-master/racelines/Spielberg.csv
Point-mass/track_coordinates/racetrack-database-master/racelines/Suzuka_curvature.png
Point-mass/track_coordinates/racetrack-database-master/racelines/Suzuka_raceline.png
Point-mass/track_coordinates/racetrack-database-master/racelines/Suzuka.csv
Point-mass/track_coordinates/racetrack-database-master/racelines/YasMarina_curvature.png
Point-mass/track_coordinates/racetrack-database-master/racelines/YasMarina_raceline.png
Point-mass/track_coordinates/racetrack-database-master/racelines/YasMarina.csv
Point-mass/track_coordinates/racetrack-database-master/racelines/Zandvoort_curvature.png
Point-mass/track_coordinates/racetrack-database-master/racelines/Zandvoort_raceline.png
Point-mass/track_coordinates/racetrack-database-master/racelines/Zandvoort.csv
Point-mass/track_coordinates/racetrack-database-master/tracks/Austin.csv
Point-mass/track_coordinates/racetrack-database-master/tracks/BrandsHatch.csv
Point-mass/track_coordinates/racetrack-database-master/tracks/Budapest.csv
Point-mass/track_coordinates/racetrack-database-master/tracks/Catalunya.csv
Point-mass/track_coordinates/racetrack-database-master/tracks/Hockenheim.csv
Point-mass/track_coordinates/racetrack-database-master/tracks/IMS.csv
Point-mass/track_coordinates/racetrack-database-master/tracks/Melbourne.csv
Point-mass/track_coordinates/racetrack-database-master/tracks/MexicoCity.csv
Point-mass/track_coordinates/racetrack-database-master/tracks/Montreal.csv
Point-mass/track_coordinates/racetrack-database-master/tracks/Monza.csv
Point-mass/track_coordinates/racetrack-database-master/tracks/MoscowRaceway.csv
Point-mass/track_coordinates/racetrack-database-master/tracks/Norisring.csv
Point-mass/track_coordinates/racetrack-database-master/tracks/Nuerburgring.csv
Point-mass/track_coordinates/racetrack-database-master/tracks/Oschersleben.csv
Point-mass/track_coordinates/racetrack-database-master/tracks/Sakhir.csv
Point-mass/track_coordinates/racetrack-database-master/tracks/SaoPaulo.csv
Point-mass/track_coordinates/racetrack-database-master/tracks/Sepang.csv
Point-mass/track_coordinates/racetrack-database-master/tracks/Shanghai.csv
Point-mass/track_coordinates/racetrack-database-master/tracks/Silverstone.csv
Point-mass/track_coordinates/racetrack-database-master/tracks/Sochi.csv
Point-mass/track_coordinates/racetrack-database-master/tracks/Spa.csv
Point-mass/track_coordinates/racetrack-database-master/tracks/Spielberg.csv
Point-mass/track_coordinates/racetrack-database-master/tracks/Suzuka.csv
Point-mass/track_coordinates/racetrack-database-master/tracks/YasMarina.csv
Point-mass/track_coordinates/racetrack-database-master/tracks/Zandvoort.csv
